.cubeViewer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .cubeViewer {
    height: 300px;
  }

  .canvas {
    width: 300px;
    height: 300px;
  }
}
